*{
    margin:0;
    padding:0;
    text-decoration: none;
}

html,body{
    width:100%;
    height: 100%;
    min-height: 100%;
}

header{
    background-color: black;
    display: flex;
    padding:1%;
    position: fixed;
    width: 100%;
}

header> nav{
    flex:3;
}
header>div.search{
    flex:1;
}

header > nav > ul{
    display: flex;
    list-style-type: none;
}

header > nav > ul > li {
    color:white;
    flex-basis: 5%;
}

section#main-banner{
    width: 100%;
    padding-top:3%;
}

section#main-banner> img{
    width: 100%;
}

section#main-banner > div{
    color:white;
    position: absolute;
    bottom: 1%;
    text-align: center;
    left: 40%;
}

section#main-banner > div > h2 {
    padding:4%;
}

section#content{
    display: flex;
    justify-content: center;
    margin-top:5%;
}

section#content > div{
    width:50%;
}

section#content > div > h1, 
section#content > div > h5 {
   text-align: center;
   padding:1%;
}

section#content > div >p {
    text-align:justify;
}

div.image-gallery{
    display: flex;
    justify-content: space-around;
    margin-top:5%;
    
}

section#content > div> div.image-gallery > div.gallery-image{
    text-align: center;
}
section#content > div> div.image-gallery > div.gallery-image > h3{
    padding-bottom: 5%;
}

section#content > div> div.image-gallery > div.gallery-image > img {
    width:55%;
}

section#tour{
    width: 90%;
    background-color: black;
    margin-top:5%;
    padding:5%;
    text-align: center;
    color:white;
    display: flex;
    justify-content: center;
}

section#tour > div#content{
    width: 50%;
}
section#tour>div#content > h1, section#tour > div#content >h5{
    padding:1%;
}


section#tour>div#content > div{
    text-align: left;
}
section#tour> div#content >div > h5{
    padding:1%;
    background-color: white;
    color:black;
    border-bottom: 1px solid black;
}


section#tour>div#content> div.image-gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


section#tour>div#content> div.image-gallery > div.gallery-image{
    width:30%;
    background-color: white;
    color:black;
}


section#tour>div#content> .image-gallery > .gallery-image > img{
    width: 100%;
}

section#tour>div#content> .image-gallery > .gallery-image > .text-content{
    padding:5%;
}
section#tour>div#content> div.image-gallery > div.gallery-image> div.text-content>*{
    padding-bottom: 4%;
}
section#tour>div#content> .image-gallery > .gallery-image > .text-content >h5.button{
    background-color: black;
    color:white;
    text-align: center;
    padding:2%;
    display: inline-block;
}